* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url(./fonts/Montserrat-Regular.ttf);
}

body {
  font-family: 'Montserrat-Regular' 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color: #c6d0bb9d;
}
